
<!--Side-bar & Navbar-->
<div class="sidebar">
  <div class="sidebar-head">
    <a routerLink="">
      <img src="../../../assets/images/navi_logo.gif" alt="Logo">
    </a>
  </div>
  <div class="sidebar-login">
    <img src="../../../assets/images/login.gif" alt="login">
  </div>
  <div class="sidebar-list">
    <ul class="menu">
      <li class="css-sprite-schedule"><a routerLink="/appointments"></a></li>
      <li class="css-sprite-reserve"><a routerLink="/create-appointment"></a></li>
      <li class="css-sprite-setup"><a routerLink="/settings"></a></li>
      <li class="css-sprite-room"><a routerLink="/page-not-found.html"></a></li>
      <li class="css-sprite-manual"><a routerLink="/page-not-found.html"></a></li>
      <li class="css-sprite-top"><a routerLink="/top"></a></li>
      <li class="css-sprite-logout"><a routerLink="/users/login"></a></li>
    </ul>

    <div class="sidebar-language text-center">
      <a href="#">EN</a>
      <a href="#">&emsp;JP</a>
    </div>
  </div>
</div>



<!--End-sidebar&navbar-->

<router-outlet></router-outlet>