
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <nav class="navbar navbar-collapse navbar-light navbar-custom active-nav-bar">
      <a href="javascript:void(0)" class="navbar-custom-icon">
        <i class="fas fa-bars"></i>
      </a>
      <a routerLink="" class="navbar-brand">&nbsp;Home</a>
    </nav>


  <!--End-sidebar&navbar-->



  <!--Main-->
  <div id="main" class="main-active">
    <!--Welcome-->
    <div class="welcome text-center">
      <h1>Welcome!</h1>
    </div>
    <!--End-welcome-->

    <!--Menu-->
    <div class="container card-row-one">
      <div class="card-deck list-menu">
        <div class="card card-style col-sm-6">
          <div class="card-body card-body-custom text-center">
            <a routerLink=""><i class="fas fa-home"></i></a>
          </div>
        </div>

        <div class="card card-style col-sm-6">
          <div class="card-body card-body-custom text-center">
            <a routerLink="users"><i class="fas fa-users"></i></a>
          </div>
        </div>

        <div class="card card-style col-sm-6">
          <div class="card-body card-body-custom text-center">
            <a routerLink="appointments"><i class="fas fa-calendar-alt"></i></a>
          </div>
        </div>

        <div class="card card-style col-sm-6">
          <div class="card-body card-body-custom text-center">
            <a routerLink="error"><i class="fas fa-comments"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="container card-row-two ">
      <div class="card-deck list-menu">
        <div class="card card-style col-sm-6">
          <div class="card-body card-body-custom text-center">
            <a routerLink="error"><i class="fas fa-cubes"></i></a>
          </div>
        </div>

        <div class="card card-style col-sm-6">
          <div class="card-body card-body-custom text-center">
            <a routerLink="error"><i class="fas fa-book"></i></a>
          </div>
        </div>

        <div class="card card-style col-sm-6">
          <div class="card-body card-body-custom text-center">
            <a routerLink="settings"><i class="fas fa-cogs"></i></a>
          </div>
        </div>

        <div class="card card-style col-sm-6">
          <div class="card-body card-body-custom text-center">
            <a routerLink="users/login"><i class="fas fa-sign-out-alt"></i></a>
          </div>
        </div>
      </div>

    </div>
    <!--End-menu-->
  </div>
  <!--End-main-->



</body>
</html>